@media screen and (max-width: 768px) {

    img {
        max-width: 100%;
        max-height: 100%;
    }

    p {
        font-size: 0.65rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .fles {
        display: flex;
        flex-direction: column;
        top: 65rem;
        position: relative;
    }

    .fles0 {
        display: flex;
        flex-direction: column;
        transform: scale(1.6);
        position: relative;
        left: 8rem;
        top: 208rem;
    }

    .fles2 {
        display: flex;
        top: 52rem;
        align-items: center;
        width: 47rem;
        position: relative;
        flex-direction: column;
    }

    .fles3 {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 47rem;
        left: 0rem;
        /* background-color: red; */
        width: 24rem;
        align-items: center;
    }

    .navbar {
        width: 50.5rem;
        background-color: transparent;
        height: 3rem;
    }

    .navbar li {
        display: inline-block;
        font-size: 0.7rem;
    }

    .navmenu a {
        text-decoration: none;
        padding: 1rem 2rem 1rem 2rem;
        display: inline-block;
        color: white;
        font-family: 'Poppins', sans-serif;
        position: relative;
        top: -0.3rem;
        left: -7rem;
        right: 1rem;
    }

    .navbar ul {
        position: relative;
        text-align: center;
        justify-content: center;
        display: inline-block;
        left: 13.75rem;
        top: 0.23rem;
    }

    .navbar img {
        background-color: transparent;
        width: 0rem;
        padding: 0.5rem;
    }

    .section2 {
        width: 35rem;
        left: -7rem;
        height: 21rem;
        background-color: transparent;
        top: 3rem;
    }

    .sec2para {
        width: 20rem;
        top: 1rem;
        left: 10.5rem;
    }

    .sec2logo {
        left: 9.3rem rem;
        top: 0rem;
        width: 25rem;
    }

    .btn {
        width: 1rem;
        padding: 0.5rem;
        width: 10rem;
        top: -1rem;
        left: -1.5rem;
        position: relative;
    }



    .arrow {
        width: 2.45rem;
        height: auto;
        position: absolute;
        margin-top: 1rem;
        margin-left: -4.5rem;
        display: inline-block;
        background-color: transparent;
    }

    .section1 {
        width: 17rem;
        margin-left: 0rem;
        display: inline-block;
        position: relative;
        left: 29rem;
        top: 0rem;
        top: -15rem;
        background-color: transparent;
    }

    .sec1pic {
        width: 23rem;
        top: -5rem;
        position: relative;
        left: 1rem;
    }

    .section3 {
        height: 28rem;
        margin-top: 0rem;
        /* align-items: center; */
        position: relative;
        width: 49rem;
        left: 0rem;
        top: -21rem;
        background-color: transparentx;
    }

    .section3 .sec3pic {
        position: relative;
        top: -44rem;
        /* z-index: 4; */
        /* margin-top: 16rem; */
        left: 14rem;
        background-color: transparent;
        width: 22rem;
        animation: move-up-down 2s ease-in-out infinite;
    }

    .section3 h1 {
        position: relative;
        left: -9rem;
        top: -69rem;
        /* font-size: 1.5rem; */
    }

    .section3 p {
        text-align: center;
        align-items: center;
        width: 48rem;
        top: 22rem;
        left: 1rem;
        /* font-size: 0.65rem; */
    }

    .section4 {
        align-items: center;
        justify-content: center;
        margin-left: 0rem;
        height: 40rem;
        top: -55rem;
        width: 47rem;
        background-color: transparent;
    }

    .section4 img {
        width: 38.5rem;
        height: auto;
        background-color: transparent;
        position: relative;
        margin-left: 6.5rem;
        top: 1rem;
    }

    #forteen {
        position: relative;
        top: -47rem;
        width: 3.3rem;
        left: 18.5rem;
        background-color: transparent;
        margin-top: 28rem;
        animation: 2s ease-in-out 0s infinite normal none running move-up-down;
    }

    #Acoin {
        left: 2rem;
        width: 16rem;
        top: -55rem;
        position: relative;
    }

    .section4 p {
        left: 1.5rem;
        position: relative;
        top: -36rem;
        width: 47rem;
        text-align: center;
        /* font-size: 0.65rem; */
    }

    .imgblock {
        position: relative;
        left: -1rem;
    }

    .blockchain {
        position: relative;
        top: 36rem;
        text-align: center;
        /* display: flex; */
        width: 30rem;
        height: auto;
        left: 12rem;
        /* z-index: 5; */
        background-color: transparent;
        margin-left: 0rem;
    }

    .blockchain img {
        width: 7rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        top: 0rem;
        position: relative;
        background-color: transparent;
    }

    .blockchain p {
        color: white;
        position: relative;
        width: 25rem;
        left: 2.5rem;
        top: -1rem;
        background-color: transparent;
    }

    .section5 {
        width: 32rem;
        height: auto;
        top: -75rem;
        position: relative;
        height: 65rem;
        margin-left: 7rem;
        display: inline-block;
        background-color: transparent;
    }

    .fles4 {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        top: 33rem;
        width: 37rem;
        text-align: center;
    }

    .section5 img {
        width: 29rem;
        height: auto;
        position: relative;
        left: 0rem;
        transform: scale(1.24);
        top: 11rem;
        background-color: transparent;
    }

    .section5 h1 {
        left: 0rem;
        top: -33rem;
        /* font-size: 1.5rem; */
        text-align: center;
        width: 29rem;
    }

    .section5 p {
        top: 9rem;
        left: -2re;
        margin-left: -15rem;
        right: 0rem;
        width: 40%;
        width: 48rem;
        /* font-size: 0.65rem; */
        color: white;
        text-align: center;
        /* display: inline-block; */
        align-items: center;
        position: relative;
        background-color: transparent;
    }

    .section6 {
        top: -99rem;
        width: 34rem;
        left: 0rem;
        height: 25rem;
    }

    .rectangle {
        display: none;
    }

    .scrolltoken {
        background-color: #110e20;
        width: 42rem;
        height: 17rem;
        position: relative;
        /* margin-left: 0rem; */
        left: -3rem;
        overflow: hidden;
        top: 3rem;
        position: relative;
        overflow: auto;
        border-radius: 20px;
        z-index: 0;
    }

    #tokenpic {
        width: 3rem;
        left: 2rem;
        position: relative;
        top: 29rem;
        top: 3rem;
    }

    .token {
        position: relative;
        left: 0rem;
        font-size: 1.5rem;
        top: 0rem;
        font-size: 3rem;
    }

    .fles5 {
        display: flex;
        left: -9rem;
        flex-direction: column;
        position: relative;
        align-items: center;
        width: 31rem;
        top: 10rem;
    }

    .section7 {
        background-color: transparent;
        position: relative;
        top: -90rem;
        width: 33rem;
        margin-left: -23rem;
        height: 28rem;
        align-items: center;
    }

    #five {
        position: relative;
        top: -15rem;
        left: 3rem;
        background-color: transparent;
        width: 24rem;
    }

    #sec7coin {
        left: 26rem;
        top: -36rem;
        top: -45rem rem;
        width: 24rem;
        background-color: transparent;
    }

    .section7 {
        background-color: transparent;
        position: relative;
        top: -96rem;
        width: 32rem;
        height: 28rem;
    }

    #twenty {
        width: 30rem;
        position: relative;
        left: 2rem;
        top: -14rem;
        opacity: 0.4;
        background-color: transparent;
        z-index: -1;
        animation: diagonal 2s ease-in-out infinite;
    }

    .section8 {
        background-color: transparent;
        position: relative;
        top: -104rem;
        left: 9rem;
        height: 60rem;
        width: 34rem;
    }

    .section8 h1 {
        position: relative;
        top: -26rem;
        display: inline-block;
        width: 30rem;
        left: 0rem;
        /* font-size: 1.5rem; */
    }

    .section8 p {
        color: white;
        width: 43rem;
        text-align: center;
        left: -3rem;
        display: inline-block;
        position: relative;
        top: 10rem;
        /* font-size: 0.65rem; */
        background-color: transparent;
    }

    .section8 img {
        top: 12rem;
        position: relative;
        background-color: transparent;
        width: 29rem;
        display: inline-block;
        left: 0rem;
    }

    .section9 {
        background-color: transparent;
        position: relative;
        top: -127rem;
        height: auto;
        left: 6rem;
        width: 36rem;
        height: 30rem;
    }

    #sec9pic {
        width: 37rem;
        background-color: transparent;
        position: relative;
        top: 2rem;
        left: 4rem;
    }

    .section9 h3 {
        color: white;
        width: 35rem;
        position: relative;
        left: 4rem;
        text-align: center;
        top: 4rem;
        background-color: transparent;
        font-size: 1rem;
    }

    .section10 {
        background-color: transparent;
        position: relative;
        top: -84em;
        width: 50rem;
        left: 10rem;
    }


    .section11 {
        background-color: transparent;
        position: relative;
        top: -122rem;
        width: 50.25rem;
        left: 0rem;
        height: auto;
    }


    #joystick {
        width: 4rem;
        position: relative;
        left: 3rem;
        top: -52rem;
        background-color: transparent;
        animation: move-up-downss 12s ease-in-out infinite;
    }

    .bg {
        z-index: 0;
        position: relative;
        left: 10.5rem;
    }

    #eleven {
        position: relative;
        left: 44rem;
        top: -121rem;
        width: 6rem;
        top: -12rem;
        background-color: transparent;
        animation: eleven 12s ease-in-out infinite;
    }

    .esportpara {
        width: 15rem;
        color: white;
        position: relative;
        left: 2rem;
        font-size: 0.65rem;
        top: -96rem;
        background-color: transparent;
    }

    .phone {
        display: inline-block;
        position: relative;
        top: -24rem;
        width: 8rem;
        left: 19rem;
        background-color: transparent;
    }

    .esportpara {
        width: 36rem;
        color: white;
        position: relative;
        text-align: left;
        left: 12rem;
        font-size: 1rem;
        top: -42rem;
        background-color: transparent;
    }

    .esport {
        top: 30rem;
        font-size: 1.6rem;
        left: 12rem;
        width: 45rem;
    }

    .sec11pic {
        left: 15.5rem;
        top: -53rem;
        width: 19rem;
    }



    .sec11h1 {
        position: relative;
        left: 13rem;
        /* font-size: 1.5rem; */
        top: -56rem;
    }

    .section11 h4 {
        opacity: 0;
    }

    .section13 {
        background-color: transparent;
        position: relative;
        left: 6rem;
        top: -158rem;
        height: 41rem;
        display: inline-block;
        width: 34rem;
        z-index: 6;
    }

    .section13 img {
        position: relative;
        left: 4rem;
        display: inline-block;
        top: 5rem;
        background-color: transparent;
        width: 34rem;
    }

    .section13 h1 {
        position: relative;
        top: -34rem;
        /* font-size: 1.5rem; */
        left: 3rem;
    }

    .sec13para {
        width: 33rem;
        color: white;
        /* font-size: 0.65rem; */
        position: relative;
        left: 5rem;
        background-color: transparent;
        top: 4rem;
    }

    .section13 h3 {
        color: #FFB300;
        /* font-size: 1rem; */
        background-color: transparent;
        position: relative;
        left: 4rem;
        top: 4rem;
    }

    .sec13para2 {
        width: 33rem;
        color: white;
        /* font-size: 0.65rem; */
        position: relative;
        left: 5rem;
        background-color: transparent;
        top: 6rem;
    }

    .section14 {
        background-color: transparent;
        z-index: 7;
        position: relative;
        left: 8rem;
        top: -131rem;
        width: 48rem;
        height: 23rem;
    }

    .section14 img {
        position: relative;
        left: 5rem;
        background-color: transparent;
        width: 57%;
        top: 8rem;
        animation: radial-out 1s ease-in-out forwards;
    }

    .section14 h1 {
        position: relative;
        top: -11rem;
        left: 1.5remrem;
        font-size: 3rem;
    }



    .section14 p {
        color: white;
        position: relative;
        top: -10rem;
        text-align: left;
        display: inline-block;
        left: 6.5rem;
        background-color: transparent;
        left: -8.5rem;
        background-color: transparent;
        /* font-size: 0.65rem; */
        margin-left: 0rem;
    }

    .section15 {
        background-color: transparent;
        position: relative;
        width: 52rem;
        height: 90rem;
        left: 3rem;
        top: -116rem;
    }

    .section15 h1 {
        display: inline-block;
        top: -36rem;
        width: 20rem;
        position: relative;
        /* font-size: 1.5rem; */
        left: 17rem;
    }

    .section15 p {
        position: relative;
        top: -36rem;
        font-size: 1.3rem;
        background-color: transparent;
        width: 33rem;
        color: white;
        left: 26rem;
    }

    .section16 {
        background-color: transparent;
        width: 27rem;
        height: 50rem;
        position: relative;
        left: 6rem;
        top: -164rem;
    }



    .section16 img {
        position: relative;
        top: 0rem;
        background-color: transparent;
        width: 28rem;
        left: 3rem;
        margin-left: 3rem;
    }

    /* .scrolltoken {
        background-color: #110e20;
        width: 26rem;
        height: 17rem;
        position: relative;
        left: 1.75rem;
        overflow: hidden;
        top: 3rem;
        position: relative;
        overflow: auto;
        border-radius: 20px;
        z-index: 0;
    } */

    .last {
        text-align: center;
        background-color: #171329;
        margin-bottom: 2rem;
        align-items: center;
        height: 17rem;
        top: -165rem;
        display: flex;
        width: 72rem;
        position: relative;
        left: 0rem;
    }

    .lastpic {
        background-color: transparent;
        align-items: center;
        display: flex;
        width: 10rem;
        position: relative;
        top: -3rem;
        left: 41rem;
    }

    .last p {
        position: relative;
        top: 1rem;
        left: 20rem;
        align-items: center;
        display: inline;
        text-align: center;
        background-color: transparent;
        width: 34rem;
        color: white;
    }

    .lastfoo {
        background-color: #070618;
        position: relative;
        top: -168rem;
        color: white;
        align-items: center;
        text-align: center;
        height: 2rem;
        display: flex;
        width: 72rem;
        justify-content: center;
    }

    .lastfoo {
        background-color: #070618;
        position: relative;
        top: -168rem;
        color: white;
        align-items: center;
        text-align: center;
        height: 2rem;
        display: flex;
        width: 51rem;
        justify-content: center;
        left: 10.5rem;
    }
































































    p {
        font-size: 0.65rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}